h2 {
  font-family: sans-serif;
  color: #ffffff;
}

h3 {
  font-family: sans-serif;
   color: #ffffff;
}

h4 {
  font-family: sans-serif;
  color: #ffffff;
}

p {
  font-family: sans-serif;
  color: #ffffff;
}

xmp {
  font-family: sans-serif;
  color: #ffffff
}

body {
  background-color: #121212;
}